.viz {
  position: relative;
  border-radius: 10px;
  background: url(paper.png) 0 0 repeat;
}

/*
.spinner {
	content: "";
	position: absolute;
	width: 600px;
	height: 600px;
	top: 0;
	left: 0;
  background: url(background.svg) 0 0 repeat;
  transform: rotate(45deg);
  animation: spin 1s ease-out 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  },
  100% {
    transform: rotate(360deg);
  }
}
*/

.usernameDisplayed {
  color: #ddd;
  margin: 10px;
  letter-spacing: 0.05rem;
  font-weight: 200;
}

.usernameContainer {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #444;
}

path {
  opacity: 0.3;
  transition: 0.3s ease;
}

path:hover {
  opacity: 0.8;
}

.title {
  color: #555;
  text-transform: lowercase;
  font-size: 3rem;
}
.title span:nth-child(2) {
  color: #fff;
  background: #555;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 3px;
  text-transform: uppercase;
}
