body * {
  /*outline: 1px solid pink;*/
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  background:
    url(/background-ticks.svg),
    url(/background.svg);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
}
